   <!-- ======= About Section ======= -->
   <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
          <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
          </ul>
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          </p>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->
  <!-- <div class="chat-container">
    <div class="chat-header">
      Private Chat
    </div>
    <div class="chat-messages">
      <div *ngFor="let message of messages" class="message">
        {{ message.senderId }}: {{ message.text }}
      </div>
    </div>
    <div class="chat-input">
      <input type="text" [(ngModel)]="newMessage" placeholder="Type your message here">
      <button (click)="sendMessage()">Send</button>
    </div>
  </div> -->
  
<!-- <div>
  <h2>Private Chat</h2>
  <label for="recipient">Recipient:</label>
  <input type="text" id="recipient" [(ngModel)]="recipientId">
  <br>
  <label for="message">Message:</label>
  <input type="text" id="message" [(ngModel)]="message">
  <button (click)="sendMessage()">Send</button>
</div> -->