.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    margin-left: 250px;
    transition: all .3s;
    background: #f6f9ff;
}

app-footer {
    margin-top: auto;
    color: white;
    padding: 20px 0;
    font-size: 14px;
    transition: all 0.3s;
    border-top: 1px solid #cddfff;
}

app-header {
    background-color: #fff;
    height: 4rem;
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}



.main-expand {
    margin-left: 60px;
    transition: all .3s;
}